<div class="row">
  <div class="col-md-12">
    <div class="card vh-100 w-100">
      <div class="card-header">
        <div class="row">
          <div class="col-8">
            <h5 class="card-title">Rodada número {{ gameDetails.currentRoundNumber }}</h5>
          </div>
          <div class="col-4">
            <h2>{{ connected ? 'Connectado' : 'Disconectado' }}</h2>
          </div>
        </div>
        <p class="card-category"> A palavra é:
          <span class="current-word">{{ gameDetails.guessWord }}</span>
        </p>
      </div>
      <div class="card-body">
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 d-flex justify-content-center align-content-center bg-secondary text-white">
            <p class="align-self-center">IA: {{ gameDetails.score.ia }}</p>
          </div>
        </div>
        <div class="row h-50">
          <div class="col-md-6 d-flex justify-content-center align-content-center bg-primary text-white">
            <p class="align-self-center">Acho que é: {{ guessess.player1 }}</p>
          </div>
          <div class="col-md-6 d-flex justify-content-center align-content-center bg-primary text-white">
            <p class="align-self-center">Acho que é: {{ guessess.player2 }}</p>
          </div>

          <!-- Player scores -->
          <div class="col-md-6 d-flex justify-content-center align-content-center">
            <p class="align-self-center">Player 1: {{ gameDetails.score.playerScores[PLAYER_1_ID] }} pontos</p>
          </div>
          <div class="col-md-6 d-flex justify-content-center align-content-center">
            <p class="align-self-center">Player 2: {{ gameDetails.score.playerScores[PLAYER_2_ID] }} pontos</p>
          </div>
          <!-- Inputs for the game -->
          <div class="row">
            <div class="col-md-5">
              <div class="row">
                <div class="chat-messages" id="player1-messages">
                  <div class="alert alert-secondary" role="alert" *ngFor="let m of chats.player1">
                    {{ m }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <input type="text" name="tipPlayer1" placeholder="Dica" class="form-control"
                         [(ngModel)]="messagePlayer1">
                </div>
                <div class="col-5 offset-md-1">
                  <button class="btn btn-primary col-6" (click)="sendTipMessage('player1')" [disabled]="roundFinished">
                    Enviar
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-5 offset-md-1">

              <div class="row">
                <div class="chat-messages" id="player2-messages">
                  <div class="alert alert-secondary" role="alert" *ngFor="let m of chats.player2">
                    {{ m }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <input type="text" name="tipPlayer1" placeholder="Dica" class="form-control"
                         [(ngModel)]="messagePlayer2">
                </div>
                <div class="col-6">
                  <button class="btn btn-primary col-6" (click)="sendTipMessage('player2')" [disabled]="roundFinished">
                    Enviar
                  </button>
                </div>
              </div>
            </div>
            <div *ngIf="roundFinished">
              <div class="col-6">
                <input type="text" name="tipPlayer1" placeholder="Dica" class="form-control"
                       [(ngModel)]="newGuessWord">
              </div>
              <div class="col-6">

                <button class="btn btn-primary" (click)="starNewRound()">Novo jogo</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
